style "button"
{
    xthickness = 3
    ythickness = 3


    bg[SELECTED]      = @selected_bg_color
    bg[NORMAL]        = @base_color
    bg[PRELIGHT]      = "#444c50"
    bg[ACTIVE]        = @base_color
    bg[INSENSITIVE]   = @bg_color
    fg[NORMAL]        = @fg_color # Color for normal text.
    fg[PRELIGHT]      = @selected_fg_color
    fg[SELECTED]      = @selected_fg_color
    fg[ACTIVE]        = @fg_color
    fg[INSENSITIVE]   = mix (0.4, @fg_color, @bg_color) # Text color for non-interactive menu items
    text[NORMAL]      = @text_color # Color for menu-item radio/checks.
    base[NORMAL]      = @base_color # Color for menu-item radio/checks background.
    text[PRELIGHT]    = @selected_fg_color
    text[SELECTED]    = @selected_fg_color
    text[ACTIVE]      = @fg_color
    text[INSENSITIVE] = mix (0.4, @fg_color, @bg_color)

    engine "murrine"
    {
        roundness = 0 # Roundness of menu items.
    }

#    engine "pixmap" 
#    {
#    image
#        {
#            function    = BOX
#            state       = NORMAL
#            file        = "assets/btn.png"
#            border      = { 1, 1, 1, 1 }
#            stretch     = TRUE
#        }
#    image
#        {
#            function    = BOX
#            recolorable = TRUE
#            shadow      = OUT
#            state       = PRELIGHT
#            file        = "assets/btn-hover.png"
#            border      = { 1, 1, 1, 1 }
#            stretch     = TRUE
#        }
#    image
#        {
#            function    = BOX
#            recolorable = TRUE
#            shadow      = IN
#            state       = PRELIGHT
#            file        = "assets/btn-active-hover.png"
#            border      = { 3, 3, 3, 3 }
#            stretch     = TRUE
#        }
#    image
#        {
#            function    = BOX
#            recolorable = TRUE
#            shadow      = IN
#            state       = ACTIVE
#            file        = "assets/btn-active.png"
#            border      = { 3, 3, 3, 3 }
#            stretch     = TRUE
#        }    
#    image 
#        {
#            function    = BOX
#            state       = INSENSITIVE
#            file        = "assets/btn-insensitive.png"
#            border      = { 1, 1, 1, 1 }
#            stretch     = TRUE
#        }
#    }


}

style "treeview-header"
{
    xthickness = 2
    ythickness = 0

    bg[NORMAL] = @base_color

    engine "murrine" {
        listviewheaderstyle = 1
    }
}

widget_class "*<GtkButton>"                style "button"
widget_class "*<GtkTreeView>*<GtkButton>*" style:highest "treeview-header"
